*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.container{
    background-image: url('../assets/images/bg.png');
    background-repeat: repeat-x;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 1000vw;
}
#playButton {
    position: absolute;
    top: 5vh;
    right: 5vw;
    height: 45px;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */ 
    text-align: center; 
}
.score {
    position: absolute;
    top: 5vh;
    left: 5vw;
    height: 25px;
    width: 150px; 
    padding: 10px 20px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #008CBA; /* Background color for the score div */
    color: white; /* Text color */
    display: flex;
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    border-radius: 5px; /* Add some rounded corners */
}

.over {
    position: absolute;
    top: 16vh;
    left: 35vw;
    height: 12vh;
    width: 100%;
    font-size: 6vw;
    font-family: -webkit-pictograph;
    color: red;
}
.runner{
    background-image: url(../assets/images/runner.gif);
    background-repeat: no-repeat;
    background-size: 8vw 21vh;
    position: absolute;
    top: 67vh;
    left: 15vw;
    height: 21vh;
    width: 8vw;    
}
.obstacle{
    background-image: url(../assets/images/obstacle.png);
    background-repeat: no-repeat;
    background-size: 8vw 25vh;
    position: absolute;
    top: 70vh;
    left: 45vw;
    height: 25vh;
    width: 8vw;    
}
.jump{
    animation: go_up 1s linear 1 ;
}
.animate_obstacle{
    animation: move_obstacle 2.3s linear infinite ;
}

.animate_over{
    animation: over_animate 1s linear infinite ;
}
.bg{
    animation: bgimg 10.5s linear infinite;
}



#playButton:hover {
    background-color: white; /* Change background to white on hover */
    color: #008CBA; /* Change text color to blue on hover */
}

@keyframes go_up {
    0%{
        top: 67vh ;
    }
    50%{
        top: 40vh;
    }
    100%{
        top: 67vh;
    }
}
@keyframes bgimg {
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes bgimg2 {
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes move_obstacle {
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}
@keyframes over_animate {
    0%{
        color: red;
    }
    50%{
       color: white;
    }
    100%{
       color: red;
    }
}